@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Riot&family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Riot&family=Quicksand:wght@300..700&display=swap');

.main{
height: 1000px;
width: 100%;
background-color: rgb(239, 184, 195);
border: 3px black solid;
display: flex;
flex-wrap: wrap;
}
.head{
    font-family: "Amatic SC", sans-serif;
    font-size: 40px;
    color: black;
    padding-left: 730px;}
.box1{
    display: flexbox;
    height: 300px;
    width: 200px;
    border: 2px black solid;
    position: relative;
  right: 650px;
    top: 150px;
    text-align: center;
    font-family: "Protest Riot", sans-serif;
    box-shadow: 1px 1px 2px 2px rgb(153, 18, 87);
}
.box1:hover{
    transition: 0.5s;
    box-shadow: 1px 1px 2px 2px rgb(153, 18, 87);
    border-radius: 10px;
}
.box2{
    display: flexbox;
    height: 300px;
    width: 200px;
    border: 2px black solid;
    position: relative;
 right: 330px;
    top: 150px;
    text-align: center;
    font-family: "Protest Riot", sans-serif;  
    box-shadow: 1px 1px 2px 2px rgb(153, 18, 87);
}.box2:hover{
    transition: 0.5s;
    box-shadow: 1px 1px 2px 2px rgb(153, 18, 87);
    border-radius: 10px;
}

.box3{
    display: flexbox;
    height: 300px;
    width: 200px;
    border: 2px black solid;
    position: relative;
    font-family: "Protest Riot", sans-serif;
    box-shadow: 1px 1px 2px 2px rgb(153, 18, 87);
    top: 150px;
    text-align: center;
    
}
.box3:hover{
    transition: 0.5s;
    box-shadow: 1px 1px 2px 2px rgb(153, 18, 87);
    border-radius: 10px;
}
.box4{ display: flexbox;
    height: 300px;
    width: 200px;
    border: 2px black solid;
    box-shadow: 1px 1px 2px 2px rgb(153, 18, 87);
    position: relative;
left: 145px;
top: 30px;
text-align: center;
font-family: "Protest Riot", sans-serif;

}
.box4:hover{
    transition: 0.5s;
    box-shadow: 1px 1px 2px 2px rgb(153, 18, 87);
    border-radius: 10px;
}
.box5{
    display: flexbox;
    height: 300px;
    width: 200px;
    border: 2px black solid;
    position: relative;
left: 462px;
box-shadow: 1px 1px 2px 2px rgb(153, 18, 87);
top: 30px;
text-align: center;
font-family: "Protest Riot", sans-serif;
}
.box5:hover{
    transition: 0.5s;
    box-shadow: 1px 1px 2px 2px rgb(153, 18, 87);
    border-radius: 10px;
}
.box6{
    display: flexbox;
    height: 300px;
    width: 200px;
    border: 2px black solid;
    position: relative;
left: 795px;
box-shadow: 1px 1px 2px 2px rgb(153, 18, 87);
top: 30px;
text-align: center;
font-family: "Protest Riot", sans-serif;
}
.box6:hover{
    transition: 0.5s;
    box-shadow: 1px 1px 2px 2px rgb(153, 18, 87);
    border-radius: 10px;
}
.mi{
    height: 150px;
    width: 200px;
}
.pack{ font-family: "Amatic SC", sans-serif;}
.but6{
    height: 40px;
    width: 80px;
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    bottom: 20px;border: 3px solid black;
    border-radius:10px;
}
.but6:hover{
    transition: 0.5s;
    box-shadow: 1px 1px 5px 5px rgb(153, 18, 87);
    border-radius: 10px;
}
.more{font-family: "Amatic SC", sans-serif;
position: relative;
bottom: 20px;
padding-top: 10px;
}
.footer{
    height: 300px;
    width: 100%;
border: 3px black solid ;
background-color: rgb(255, 125, 149)}
.fn{
    font-family: "Protest Riot", sans-serif; 
    padding-left: 48%;  
    position: relative;
    bottom: 90px;
}
.logo{
    position: relative;
   bottom: 1000px;
left: 400px;
border-radius: 50%;
border: 5px solid crimson;

}
.namef{
    position: relative;
    left: 650px;
    bottom: 420px;
}
.info{
    position: relative;
    bottom: 500px;
    left: 830px;
}